@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* custom variables */
  --fv-info: rgb(47, 128, 237);
  --fv-success: #27ae60;
  --fv-warning: rgb(226, 185, 59);
  --fv-error: rgb(235, 87, 87);
  --fv-white: #ffffff;
  --fv-secondary-blue: #012168;
  --fv-secondary-green: #6bc048;
  --fv-primary-green: #43a750;
  --fv-primary-blue: #002082;
  --fv-black-1: #000000;
  --fv-black-2: #1d1d1d;
  --fv-black-3: #282828;
  --fv-white-1: #fafafa;
  --fv-gray-1: #333333;
  --fv-gray-2: #54595f;
  --fv-gray-3: #7a7a7a;
  --fv-gray-4: rgb(171, 184, 195);
  --fv-gray-5: #f1f1f1;
  --fv-accent-1: #6bc048;
  --fv-accent-2: #00d082;
  --fv-accent-3: #7adcb4;
  --fv-accent-4: #8ed1fc;
  --fv-accent-5: #0693e3;
  --fv-accent-6: #f78da7;
  --fv-accent-7: #cf2e2e;
  --fv-accent-8: #ffccbb;
  --fv-accent-9: #ff6900;

  --fv-font-poppins: "Poppins", sans-serif;
  --fv-font-family: var(--fv-font-poppins);
  --fv-font-size: 1rem;
  --fv-font-weight: 300;
  --fv-line-height: 1.5;

  --fv-gradient-blue: linear-gradient(180deg, #012168, #002082);
  --fv-gradient-green: linear-gradient(180deg, #6bc048, #43a750);
  --fv-gradient-accent: linear-gradient(180deg, #7adcb4, #00d082);
}

html {
  --fv-background-color: var(--fv-white-1);
  --fv-background-color-alt: var(--fv-white);
  --fv-background-color-primary: var(--fv-primary-blue);
  --fv-background-color-secondary: var(--fv-primary-green);
  --fv-background-color-shade: var(--fv-gray-5);
  --fv-background-gradient: var(--fv-gradient-blue);
  --fv-text-main: var(--fv-gray-3);
  --fv-text-primary: var(--fv-primary-blue);
  --fv-text-secondary: var(--fv-primary-green);
}

html[data-theme="dark"] {
  --fv-background-color: var(--fv-gray-1);
  --fv-background-color-alt: var(--fv-black-2);
  --fv-background-color-primary: var(--fv-primary-green);
  --fv-background-color-secondary: var(--fv-primary-blue);
  --fv-background-color-shade: var(--fv-black-3);
  --fv-background-gradient: var(--fv-gradient-green);
  --fv-text-main: var(--fv-gray-4);
  --fv-text-primary: var(--fv-primary-green);
  --fv-text-secondary: var(--fv-primary-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fv-font-family);
  font-size: var(--fv-font-size);
  font-weight: var(--fv-font-weight);
  line-height: var(--fv-line-height);
  color: var(--fv-text-main);
  text-align: var(--fv-bs-body-text-align);
  background-color: var(--fv-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
  color: inherit;
}

small {
  font-size: 0.7rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  width: 100%;
  font-size: 1rem;
  font-family: var(--fv-font-family);
  color: var(--fv-gray-3);
  background: transparent;
  position: relative;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: none;
  background: none;
  outline: none;
}

input::placeholder {
  color: var(--fv-gray-4);
  font-size: 0.9rem;
}

input[type="file"]::file-selector-button {
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: var(--fv-text-primary);
  margin: 0;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  bottom: 0.2rem;
  color: var(--fv-white-1);
}

label {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

textarea {
  border: 1px solid var(--fv-gray-4);
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

textarea:focus,
textarea:active {
  outline: 1px solid var(--fv-text-primary);
  border: 1px solid var(--fv-text-primary);
}

thead tr {
  background-color: var(--fv-background-color-shade);
}

thead th {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  color: var(--fv-text-primary);
  text-transform: uppercase;
  font-size: 0.8rem;
}

tbody td {
  color: var(--fv-gray-4);
  padding-top: 0.7rem !important;
  padding-bottom: 0.5rem !important;
}

tbody tr {
  border-bottom: 1px solid var(--fv-gray-4);
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  color: var(--fv-gray-3);
}

/* Utility Classes */
/* Width Utillity Classes */
.fv-w-100 {
  width: 100% !important;
}

.fv-w-80 {
  width: 80% !important;
}

.fv-w-50 {
  width: 50%;
}

.fv-min-w-30 {
  min-width: 30% !important;
}

.fv-min-w-40 {
  min-width: 40% !important;
}

.fv-w-20 {
  width: 20% !important;
}

.fv-w-30 {
  width: 30% !important;
}

.fv-w-40 {
  width: 40% !important;
}

.fv-w-60 {
  width: 60% !important;
}

.fv-w-64 {
  width: 64%;
}

.fv-w-70 {
  width: 70%;
}

.fv-w-32 {
  width: 32%;
}

.fv-h-fit {
  height: fit-content !important;
}

/* Margin Utility Classes */
.fv-mt-0 {
  margin-top: 0 !important;
}

.fv-mt-1 {
  margin-top: 0.25rem !important;
}

.fv-mb-1 {
  margin-bottom: 0.25rem !important;
}

.fv-mt-2 {
  margin-top: 0.5rem !important;
}

.fv-mb-2 {
  margin-bottom: 0.5rem !important;
}

.fv-mt-3 {
  margin-top: 1rem !important;
}

.fv-mb-3 {
  margin-bottom: 1rem !important;
}

.fv-mt-4 {
  margin-top: 1.5rem !important;
}

.fv-mt-5 {
  margin-top: 3rem !important;
}

.fv-mt-6 {
  margin-top: 6rem !important;
}

.fv-ml-auto {
  margin-left: auto !important;
}

.fv-my-1 {
  margin: 1.5rem 0 !important;
}

.fv-my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.fv-my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* Padding Utility Classes */
.fv-p-0 {
  padding: 0 !important;
}

.fv-p-1 {
  padding: 1rem !important;
}

.fv-pb-1 {
  padding-bottom: 1rem !important;
}

.fv-p-2 {
  padding: 2rem !important;
}

.fv-pt-2 {
  padding-top: 2rem !important;
}

.fv-px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.fv-py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.fv-py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.fv-py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.fv-pl-1 {
  padding-left: 1rem !important;
}

.fv-pr-0 {
  padding-right: 0 !important;
}

/* Border Utility Classess */
.fv-bb-1 {
  border-bottom: 1px solid var(--fv-gray-5);
}

.fv-bt-1 {
  border-top: 1px solid var(--fv-gray-5);
}

.fv-bt-0 {
  border-top: none !important;
}

/* Flex Utility Classes */
.fv-d-flex {
  display: flex;
}

.fv-flex-wrap {
  flex-wrap: wrap;
}

.fv-flex-column {
  flex-direction: column;
}

.fv-gap-2 {
  gap: 2rem;
}

.fv-gap-1 {
  gap: 1rem;
}

.fv-gap-0 {
  gap: 0 !important;
}

.fv-justify-between {
  justify-content: space-between;
}

.fv-align-center {
  align-items: center;
}

.fv-align-start {
  align-items: flex-start !important;
}

.fv-align-self-center {
  align-self: center;
}

/* Text Utility Classes */
.fv-text-white {
  --bs-text-opacity: 1;
  color: var(--fv-white-1) !important;
}

.fv-text-gray-4 {
  --bs-text-opacity: 1;
  color: var(--fv-gray-4) !important;
}

.fv-text-gray-3 {
  --bs-text-opacity: 1;
  color: var(--fv-gray-3) !important;
}

.fv-text-gray-1 {
  --bs-text-opacity: 1;
  color: var(--fv-gray-1) !important;
}

.fv-text-primary {
  --bs-text-opacity: 1;
  color: var(--fv-text-primary) !important;
}

.fv-text-success {
  --bs-text-opacity: 1;
  color: var(--fv-success) !important;
}

.fv-text-danger {
  --bs-text-opacity: 1;
  color: var(--fv-error) !important;
}

.fv-text-bold {
  font-weight: 700;
}

.fv-text-sm {
  font-size: 0.9rem;
}

.fv-text-lg {
  font-size: 3rem !important;
}

.fv-text-right {
  text-align: right !important;
}

.fv-bg-danger {
  background-color: var(--fv-error) !important;
}

/* end Utility Classes */

/* bootstrap classes */
.dropdown-toggle::after {
  content: none;
}

.table-responsive {
  background-color: var(--fv-background-color-alt);
  border-radius: 0.5rem;
  border: 2px solid var(--fv-gray-5);
}

.offcanvas {
  background-color: var(--fv-background-color);
}
/* end bootstrap classes */

.fv-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fv-form-group {
  display: flex;
  flex-direction: column;
}

.fv-form-input {
  width: 100%;
  position: relative;
}

.fv-input {
  border: 1px solid var(--fv-gray-4);
  padding: 0.8rem 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.fv-input::placeholder {
  font-size: 0.9rem;
}

.fv-form-select,
.fv-form-input > select {
  width: 10rem;
  border: 1px solid var(--fv-gray-4);
  border-radius: 4px;
  padding: 1rem;
  font-size: 0.7rem;
  color: var(--fv-text-main);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  background: url("https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right;
  background-origin: content-box;
}

.fv-form-input > select {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  color: var(--fv-gray-2);
}

.fv-input-select-disabled {
  color: var(--fv-gray-4);
}

.fv-form-select:active,
.fv-form-select:focus,
.fv-form-input > select:active,
.fv-form-input > select:focus {
  outline: 1px solid var(--fv-background-color-primary);
}

.fv-form-select > option,
.fv-form-input > select > option {
  font-size: 1rem;
  padding: 1rem;
}

.fv-form-select > option:hover {
  background-color: var(--fv-background-color-primary);
}

.fv-right-icon {
  padding-right: 3rem;
}

.fv-input:focus,
.fv-input:active {
  border: 1px solid var(--fv-background-color-primary);
}

.fv-input:focus + .material-icons,
.fv-input:active + .material-icons {
  color: var(--fv-background-color-primary);
}

.fv-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.fv-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.fv-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fv-gray-5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 24px;
}

.fv-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .fv-slider {
  background-color: var(--fv-background-color-primary);
}

/* input:focus + .fv-slider {
  box-shadow: 0 0 1px var(--fv-background-color-primary);
} */

input:checked + .fv-slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.fv-sidenav {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -1000%;
  background-image: var(--fv-background-gradient);
  overflow-x: hidden;
  padding: 4rem 2px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease-in-out;
}

.fv-show-sidenav {
  left: 0;
}

#close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--fv-white-1);
  font-size: 2rem;
}

.fv-sidenav::-webkit-scrollbar {
  display: none;
}

aside > header {
  padding: 0 2rem;
  width: 100%;
}

.fv-sidebar-header {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.fv-sidebar-nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0.7rem 1rem;
  color: var(--fv-white-1);
  font-size: 0.9rem;
  text-transform: capitalize;
}

.fv-sidebar-dropdown-item {
  padding-left: 2rem;
}

.fv-active-sidebar,
.fv-sidebar-nav-item:hover {
  background-color: var(--fv-background-color-primary);
  border-left: 3px solid var(--fv-background-color-secondary);
}

.fv-sidebar-dropdown-item:hover,
.fv-dropdown-item-active {
  background-color: var(--fv-background-color-primary);
  border-left: none;
}

.collapsed .fv-dropdown-icon {
  transform: rotate(270deg);
}

.fv-sidebar-nav-items-group {
  display: flex;
  flex-direction: column;
  color: var(--fv-white-1);
  /* gap: 0.5rem; */
  margin-bottom: 1rem;
}

.fv-sidebar-nav-items-group > small {
  font-size: 0.6rem;
  font-weight: lighter;
  margin-left: 1rem;
  text-transform: uppercase;
}

.fv-sidebar-nav-profile {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.fv-sidebar-nav-image-wrapper {
  width: 25%;
  margin-right: 1rem;
}

.fv-sidebar-nav-image-wrapper > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--fv-info);
}

.fv-sidebar-nav-profile-details {
  width: 75%;
  word-wrap: break-word;
}

.fv-sidebar-nav-profile-details > small {
  color: var(--fv-gray-4);
  font-size: 0.8rem;
}

.fv-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;
  gap: 0.5rem;
}

.fv-pagination-wrapper p {
  font-size: 0.9rem;
}

.fv-pagination-container {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--fv-background-color-shade);
  border-radius: 4px;
}

.fv-pagination-container li {
  cursor: pointer;
}

.fv-pagination-icons,
.fv-pagination-num {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.fv-pagination-num {
  color: var(--fv-text-primary);
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.fv-pagination-current,
.fv-pagination-num:hover {
  color: var(--fv-gray-4);
  background-color: var(--fv-background-color-alt);
  border-radius: 8px;
  box-shadow: -2px 3px 13px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 3px 13px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 3px 13px -2px rgba(0, 0, 0, 0.15);
}

.fv-pagination-disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

.fv-pagination-icon {
  color: var(--fv-gray-4);
}

.fv-pagination-icon-left {
  position: absolute;
  left: 0;
  color: var(--fv-gray-2);
}

.fv-pagination-icon-right {
  position: absolute;
  left: 38%;
  color: var(--fv-gray-2);
}

/* Style the content */
.fv-content {
  background-color: var(--fv-background-color);
  margin-left: 0;
}

.fv-navbar {
  width: 100%;
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--fv-gray-4);
  overflow-x: hidden;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--fv-background-color);
}

.fv-navbar > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fv-mobile-nav-searchbar {
  width: 100%;
}

.fv-nav-searchbar {
  display: none;
}

.fv-menu-button {
  display: block;
  cursor: pointer;
  font-weight: 700;
}

.fv-menu-button > span {
  font-size: 3rem;
}

.fv-main-nav-right-items {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
}

.fv-main-nav-icon-wrapper {
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: var(--fv-gray-5);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.fv-nav-icon {
  color: var(--fv-background-color-primary);
}

.fv-icon-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: 2px solid var(--fv-gray-5);
  color: var(--fv-gray-5);
  font-size: 0.7rem;
  top: 0;
  right: 0;
}

.fv-badge-success {
  background-color: var(--fv-success);
}

.fv-badge-danger {
  background-color: var(--fv-error);
}

.fv-main-nav-profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.fv-main-nav-profile > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--fv-background-color-primary);
}

.fv-main-nav-profile-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  padding-right: 20px;
}

.fv-main-nav-profile-details > small {
  color: var(--fv-gray-4);
  font-size: 0.8rem;
}

.fv-main-nav-profile-details span {
  color: var(--fv-success);
  position: absolute;
  top: 0;
  right: 0;
}

.fv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--fv-primary-green);
  width: 100%;
  /* text-transform: uppercase; */
  font-weight: 700;
  color: var(--fv-gray-5);
  cursor: pointer;
  padding: 0.7rem 3.5rem;
  border-radius: 0.3rem;
  height: fit-content;
  border: 1px solid transparent;
}

.fv-btn:hover {
  opacity: 0.9;
}

.fv-btn-full {
  width: 100% !important;
}

.fv-btn-outline {
  background: transparent;
  color: var(--fv-primary-green);
  border: 1px solid var(--fv-primary-green);
}

.fv-btn-link {
  background: none;
  color: var(--fv-text-primary);
  padding: 0;
  font-size: 0.9rem;
  width: fit-content;
}

.fv-btn-danger {
  background-color: var(--fv-error) !important;
}

.fv-btn-default {
  background-color: var(--fv-gray-4) !important;
}

.fv-btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fv-section-content {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.fv-profile-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.fv-item-card,
.fv-chart-card,
.fv-section-card,
.fv-profile-card,
.fv-detail-card,
.fv-data-card,
.fv-card-full,
.fv-data-card-lg {
  display: flex;
  background-color: var(--fv-background-color-alt);
  border-radius: 0.5rem;
  border: 2px solid var(--fv-gray-5);
  padding: 1.5rem;
  width: 100%;
  /* width: 10rem; */
  align-items: center;
  gap: 1rem;
}

.fv-profile-card,
.fv-detail-card,
.fv-data-card-lg,
.fv-card-full {
  flex-direction: column;
  width: 100%;
}

.fv-img-rounded {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.3rem solid var(--fv-info);
}

.fv-profile-card-section {
  width: 100%;
  padding: 0.9rem 0;
  border-top: 1px solid var(--fv-gray-5);
}

.fv-profile-card-label {
  font-weight: 700;
  font-size: 0.8rem;
}

.fv-data-card,
.fv-data-card-noBg,
.fv-data {
  padding: 1rem 1.5rem;
  flex-direction: column;
  width: 100%;
}

.fv-data-card-noBg {
  display: flex;
  padding: 0;
  gap: 2rem;
}

.fv-data-card:last-child {
  border-bottom: none !important;
}

.fv-data-card-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.9rem 0;
  border-bottom: 1px solid var(--fv-gray-5);
}

.fv-data-card-section div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fv-data-card-right {
  text-align: right;
}

.fv-data-card-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--fv-text-primary);
  font-weight: 700;
}

.fv-item-card-content > h3 > span {
  font-size: 1rem;
  font-weight: normal;
}

.fv-item-card-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--fv-background-color-primary);
  color: var(--fv-white);
  align-items: center;
  justify-content: center;
  display: flex;
}

.fv-item-card-icon > span {
  font-size: 2rem;
}

.fv-cards-section {
  padding: 1rem;
  gap: 1rem;
}

.fv-item-cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.fv-charts-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fv-status-badge {
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  color: var(--fv-gray-4);
  background-color: rgba(171, 184, 195, 0.1);
  border: 1px solid rgba(171, 184, 195, 0.3);
}

.fv-status-badge-success {
  background-color: rgba(39, 174, 96, 0.1);
  color: var(--fv-success);
  border: 1px solid rgba(39, 174, 96, 0.3);
}

.fv-status-badge-warning {
  background-color: rgba(226, 185, 59, 0.1);
  color: var(--fv-warning);
  border: 1px solid rgba(226, 185, 59, 0.3);
}

.fv-status-badge-danger {
  background-color: rgba(235, 87, 87, 0.1);
  color: var(--fv-error);
  border: 1px solid rgba(235, 87, 87, 0.3);
}

.fv-status-badge-info {
  background-color: rgba(47, 128, 237, 0.1);
  color: var(--fv-info);
  border: 1px solid rgba(47, 128, 237, 0.3);
}

.fv-table-actions,
.fv-table-tab-container,
.fv-table-tab-card,
.fv-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fv-background-color-alt);
  border-radius: 0.5rem;
  border: 2px solid var(--fv-gray-5);
  padding: 1.5rem;
  gap: 1rem;
}

.fv-table-tab-card {
  padding-top: 2rem;
}

.fv-table-tab-card-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 7rem;
}

.fv-table-tab-card-group {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.fv-table-tab-card-item > small {
  font-weight: 700;
  font-size: 0.8rem;
}

.fv-section-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--fv-gray-5);
  padding-bottom: 0.5rem;
}

.fv-section-banner,
.fv-section-banner-sm {
  width: 100%;
  min-height: 15rem;
  color: var(--fv-text-primary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--fv-gray-5);
}

.fv-section-banner-sm {
  min-height: 10rem;
}

.fv-section-header > h6 {
  color: var(--fv-gray-4);
}

.fv-section-body,
.fv-section-body-alt {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
  gap: 1rem;
  padding: 1rem 0;
}

.fv-section-body-alt {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fv-section-item {
  color: var(--fv-text-primary);
  text-align: center;
}

.fv-table-tab-container {
  /* flex-wrap: wrap; */
  overflow-x: auto;
  flex-direction: row;
  gap: 0;
  padding: 0;
  justify-content: flex-start;
}

.fv-action-head,
.fv-action-btns,
.fv-action-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fv-action-btns {
  gap: 0.5rem;
}

.fv-nav-searchbar input,
.fv-has-right-icon {
  padding-right: 3rem !important;
}

.fv-input-right-icon {
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 1rem;
}

.fv-data-card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.fv-table-tab {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--fv-gray-4);
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  padding-top: 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.fv-tab-table {
  display: none;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.fv-current-tab-table {
  display: block;
  animation: fade 0.3s ease-in-out both;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fv-active-table-tab,
.fv-table-tab:hover {
  color: var(--fv-text-primary);
  border-bottom: 2px solid var(--fv-text-primary);
}

.fv-tables-tab {
  width: 100%;
  position: relative;
}

.fv-savings-form {
  display: none;
  flex-direction: column;
  gap: 1rem;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.fv-savings-form-selected {
  display: flex;
  height: fit-content;
}

.fv-device-activity-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--fv-gray-5);
}

.fv-device-activity {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.fv-device-activity > span {
  color: var(--fv-text-primary);
  font-size: 2rem;
}

.fv-device-activity > div > p {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--fv-gray-4);
}

.fv-device-activity > div > small {
  font-size: 0.9rem;
}

.fv-device-not-active {
  color: var(--fv-gray-4) !important;
}
.fv-device-not-active > span {
  color: var(--fv-gray-4) !important;
}

.fv-profile-img-xs,
.fv-profile-img-sm {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.fv-profile-img-sm {
  min-width: 2rem !important;
  min-height: 2rem !important;
}

.fv-ticket-chat-container {
  height: 40rem !important;
  overflow: hidden;
}

.fv-ticket-msgs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 2rem;
}

.fv-ticket-form {
  border: 1px solid var(--fv-gray-4);
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 0.3rem;
}

.fv-ticket-input {
  border: none;
  padding: 0;
}

.fv-ticket-input:focus,
.fv-ticket-input:active {
  border: none !important;
  outline: none !important;
}

.fv-ticket-day {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.fv-ticket-day > p {
  padding: 0 0.5rem;
}

.fv-ticket-day::before,
.fv-ticket-day::after {
  content: "";
  flex: 1;
  background-color: var(--fv-gray-4);
  height: 1px;
}

.fv-ticket-msg {
  display: flex;
  width: 100%;
  gap: 1rem;
  font-size: 0.9rem;
  align-items: flex-end;
}

.fv-ticket-reply {
  flex-direction: row-reverse;
}

.fv-ticket-msg > p {
  border: 1px solid var(--fv-gray-4);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

@media screen and (min-width: 880px) {
  .fv-btn {
    width: fit-content;
  }

  .fv-sidenav {
    left: 0;
    width: 17rem;
    border-top-right-radius: 5rem;
  }

  .fv-navbar {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--fv-gray-4);
  }

  .fv-content {
    margin-left: 17rem;
  }

  .fv-nav-searchbar {
    display: block;
    width: 40%;
  }

  .fv-mobile-nav-searchbar {
    display: none;
  }

  .fv-nav-searchbar input,
  .fv-has-right-icon {
    padding-right: 3rem !important;
  }

  .fv-input-right-icon {
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 1rem;
  }

  .fv-menu-button,
  #close-menu {
    display: none;
  }

  .fv-section-content {
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
  }

  .fv-cards-section,
  .fv-charts-section {
    padding: 1rem 2rem;
  }

  .fv-charts-section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .fv-revenue-chart {
    width: 66%;
    height: 100%;
  }

  .fv-efficiency-chart {
    width: 33%;
    height: 100%;
  }

  .fv-item-card,
  .fv-section-card {
    width: 48%;
  }

  .fv-action-head,
  .fv-action-inputs {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .fv-action-inputs {
    align-items: flex-end;
  }

  .fv-action-btns {
    flex-direction: row;
  }

  .fv-pagination-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }

  .fv-profile-card,
  .fv-profile-card-wrapper {
    width: 39%;
  }

  .fv-detail-card {
    width: 20%;
  }

  .fv-data-card,
  .fv-data-card-noBg {
    flex-direction: column;
    width: 58%;
  }

  .fv-data-card-lg {
    flex-direction: column;
    width: 100%;
  }

  .fv-data-card-section-wrapper {
    width: 76%;
  }

  .fv-section-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fv-btn-group {
    flex-direction: row;
  }

  .fv-table-tab-card-group {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }

  .fv-device-activity-wrapper {
    flex-direction: row;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .fv-item-card,
  .fv-section-card {
    width: 48%;
  }
}

@media screen and (min-width: 1200px) {
  .fv-item-card,
  .fv-section-card {
    width: 32%;
  }
}
