<div class="table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" />
        </th>
        <th scope="col">Transactions</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" /></td>
        <td>transfer from John doe to Jane doe</td>
        <td>#2,000.00</td>
        <td>
          <span class="fv-status-badge fv-status-badge-success"> Success </span>
        </td>
        <td>Jun 22, 2024</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>transfer from John doe to Jane doe</td>
        <td>#2,000.00</td>
        <td>
          <span class="fv-status-badge fv-status-badge-warning"> Pending </span>
        </td>
        <td>Jun 22, 2024</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>transfer from John doe to Jane doe</td>
        <td>#2,000.00</td>
        <td>
          <span class="fv-status-badge fv-status-badge-success"> Success </span>
        </td>
        <td>Jun 22, 2024</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>transfer from John doe to Jane doe</td>
        <td>#2,000.00</td>
        <td>
          <span class="fv-status-badge fv-status-badge-danger"> Failed </span>
        </td>
        <td>Jun 22, 2024</td>
      </tr>
    </tbody>
  </table>
</div>
